<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User</title>
 <link rel="stylesheet" href="/static/layui/css/layui.css"  media="all">
</head>

<body>
<div class="demoTable">
  ID：
  <div class="layui-inline">
    <input class="layui-input" name="id" id="demoReload" autocomplete="off">
  </div>
  姓名：
  <div class="layui-inline">
    <input class="layui-input" name="id" id="demoReload2" autocomplete="off">
  </div>
  <button class="layui-btn" data-type="reload">搜索</button>
</div>
<table id="demo" lay-filter="test"></table>

</body>
 
<script src="/static/layui/layui.js"></script>
<script>
layui.use('table', function(){
  var table = layui.table;
  
  //第一个实例
  table.render({
    elem: '#demo'
    ,height: 500
    ,toolbar:"#toolbarDemo"
    ,title:"User表"
    ,url: '/pub/qryPgUser' //数据接口
    ,page: true //开启分页
    ,id:'testReload'
    ,cols: [
    		[ //表头
    		  {type: 'checkbox', fixed: 'left'}
			 ,{field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
     		 ,{field: 'name', title: '用户名', width:80}
      
    	   ]
    		]
  	,skin: 'row' //表格风格
    ,even: true
    ,page: true //是否显示分页
    ,limits: [3,5,10]
    ,limit: 10 //每页默认显示的数量
  });
  
  var $ = layui.$, active = {
		    reload: function(){
		      var demoReload = $('#demoReload');
		      var demoReload2 = $('#demoReload2');
		      
		      //执行重载
		      table.reload('testReload', {
		        page: {
		          curr: 1 //重新从第 1 页开始
		        }
		        ,where: {
		         // key: {
		            id: demoReload.val(),
		            name: demoReload2.val()
		         // }
		        }
		      });
		    }
		  };
		  
		  $('.demoTable .layui-btn').on('click', function(){
		    var type = $(this).data('type');
		    active[type] ? active[type].call(this) : '';
		  });
  
});
</script>
</html>